{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h1>欢迎来到 AI Chat 平台！</h1>
    <p class="lead">在这里，您可以：</p>
    <ul class="list-unstyled">
        <li><a href="{{ url_for('chat') }}" class="btn btn-primary btn-lg mt-3">与 AI 聊天</a></li>
        <li><a href="{{ url_for('tieba') }}" class="btn btn-info btn-lg mt-3">参与贴吧讨论</a></li>
        <li><a href="{{ url_for('timetable') }}" class="btn btn-success btn-lg mt-3">查看我的课表</a></li>
    </ul>
    <p class="mt-4">您也可以通过顶部导航栏访问这些功能。</p>
</div>
{% endblock %} 